In [4]:
#    0    1        2
l1= [2,"Arsalan","A.I"]
l1

[2, 'Arsalan', 'A.I']

# Dictionary


# key1 : value1
# key2 : value2
# key3 : value3
# key4 : value4 ......

In [5]:
d1 = {"id": 2,
     "name": "Arsalan",
      "Course": "A.I" }
d1

{'id': 2, 'name': 'Arsalan', 'Course': 'A.I'}

In [6]:
d2 = {} #empty dictionary
d2["id"]= 10
d2["name"]= "Arsalan"
d2["course"]= "A.I"
d2

{'id': 10, 'name': 'Arsalan', 'course': 'A.I'}

In [7]:
d1 = {"id": 2,
     "name": "Arsalan",
      "id":25,
      "Course": "A.I" }
d1

{'id': 25, 'name': 'Arsalan', 'Course': 'A.I'}

In [8]:
d1 ={'id': 25, 'name': 'Arsalan', 'Course': 'A.I'}
print(d1)
d1.clear()
print(d1)
del(d1)

print(d1)

{'id': 25, 'name': 'Arsalan', 'Course': 'A.I'}
{}

NameError: name 'd1' is not defined

In [13]:
d1={'id': 25, 'name': 'Arsalan', 'Course': 'A.I'}

d2=d1.copy()
print(d1)
d1['name']="hamza"
print(d2)
print(d1)

{'id': 25, 'name': 'Arsalan', 'Course': 'A.I'}
{'id': 25, 'name': 'Arsalan', 'Course': 'A.I'}
{'id': 25, 'name': 'hamza', 'Course': 'A.I'}

In [19]:
l1 = ['name','id','contact','DOB','CNIC']
print(l1)
dict.fromkeys(l1)

['name', 'id', 'contact', 'DOB', 'CNIC']

{'name': None, 'id': None, 'contact': None, 'DOB': None, 'CNIC': None}

In [27]:
l1= [""]
l1 = input("Enter your names separated by comma: ")
l2=l1.split(",")
dict.fromkeys(l2)

Enter your names separated by comma: cnic, name

{'cnic': None, ' name': None}

In [28]:
l1 = input("enter keys: ").split(",")
dict.fromkeys(l1)

enter keys: a,,bc,

{'a': None, '': None, 'bc': None}

In [30]:
l1 = input("Enter keys separated by commas:  ").split(",")
l2 = input("Enter keys values separated by commas:").split(",")
d1={}
for i in range(len(l1)):
    d1[l1[i]] = l2[i]
print(d1)

Enter keys separated by commas:  a,b,c
Enter keys values separated by commas:d,e,f
{'a': 'd', 'b': 'e', 'c': 'f'}

In [34]:
l1 = input("Enter keys separated by commas:  ").split(",")
l2 = input("Enter keys values separated by commas:").split(",")
d1={}
while i< len(l1):
    d1[l1[i]] = l2[i]
    i += 1
print(d1)

Enter keys separated by commas:  a
Enter keys values separated by commas:b
{}

In [35]:
l1 = input("keys: ").split(",")
l2 =input("values: ").split(",")
{l1[i]:l2[i] for i in range(len(l1))}

keys: a,b
values: c,d

{'a': 'c', 'b': 'd'}

In [36]:
l1 = input("keys: ").split(",")
l2 =input("values: ").split(",")
list(zip (l1,l2))

keys: a,b,c
values: c,d,e

[('a', 'c'), ('b', 'd'), ('c', 'e')]

In [37]:
l1 = input("keys: ").split(",")
l2 =input("values: ").split(",")
dict(zip(l1,l2))

keys: a,b,c
values: d,e,f

{'a': 'd', 'b': 'e', 'c': 'f'}

In [38]:
dic1= { ""}
l1 = input("Id ")
l2 =input("name ")
l3 =input("Skills separated by comma ")
dict(zip(l1,l2,l3))

Id a,b
name c,d
Skills separated by comma python

ValueError: dictionary update sequence element #0 has length 3; 2 is required

In [40]:
dict1 ={}
dict1["id"] = input("enter id")
dict1["name"] = input("enter name")
dict1["skills"] = input("enter skills").split(",")
dict1

enter ida
enter nameb
enter skillsc,d

{'id': 'a', 'name': 'b', 'skills': ['c', 'd']}

In [47]:
a= [chr(i) for i in range(65,91)]
b= [chr(i) for i in range(97,123)]
c= [chr(i) for i in range(48,58)]
d= zip(a,b,c)
list(d)

[('A', 'a', '0'),
 ('B', 'b', '1'),
 ('C', 'c', '2'),
 ('D', 'd', '3'),
 ('E', 'e', '4'),
 ('F', 'f', '5'),
 ('G', 'g', '6'),
 ('H', 'h', '7'),
 ('I', 'i', '8'),
 ('J', 'j', '9')]

In [48]:
a= [chr(i) for i in range(65,91)]
b= [chr(i) for i in range(97,123)]
c= [chr(i) for i in range(48,58)]
d= zip(a,sorted(b, reverse=True), c)
list(d)

[('A', 'z', '0'),
 ('B', 'y', '1'),
 ('C', 'x', '2'),
 ('D', 'w', '3'),
 ('E', 'v', '4'),
 ('F', 'u', '5'),
 ('G', 't', '6'),
 ('H', 's', '7'),
 ('I', 'r', '8'),
 ('J', 'q', '9')]

In [54]:
a= [chr(i) for i in range(65,91)]
b= [chr(i) for i in range(97,123)]
c= [chr(i) for i in range(48,58)]
d= zip(a,sorted(b, reverse=True), c)
list(d)
e== d

for i in e[::-1]:
    print(i)

TypeError: 'zip' object is not subscriptable

In [59]:
d= [('A', 'z', '0'),
 ('B', 'y', '1'),
 ('C', 'x', '2'),
 ('D', 'w', '3'),
 ('E', 'v', '4'),
 ('F', 'u', '5'),
 ('G', 't', '6'),
 ('H', 's', '7'),
 ('I', 'r', '8'),
 ('J', 'q', '9')]
sorted(d, reverse=True, key=lambda x:x[0])

[('J', 'q', '9'),
 ('I', 'r', '8'),
 ('H', 's', '7'),
 ('G', 't', '6'),
 ('F', 'u', '5'),
 ('E', 'v', '4'),
 ('D', 'w', '3'),
 ('C', 'x', '2'),
 ('B', 'y', '1'),
 ('A', 'z', '0')]

In [60]:
d= [('A', 'z', '0'),
 ('B', 'y', '1'),
 ('C', 'x', '2'),
 ('D', 'w', '3'),
 ('E', 'v', '4'),
 ('F', 'u', '5'),
 ('G', 't', '6'),
 ('H', 's', '7'),
 ('I', 'r', '8'),
 ('J', 'q', '9')]
def abc(x):
    return x[2]
sorted(d, reverse=True, key=abc)

[('J', 'q', '9'),
 ('I', 'r', '8'),
 ('H', 's', '7'),
 ('G', 't', '6'),
 ('F', 'u', '5'),
 ('E', 'v', '4'),
 ('D', 'w', '3'),
 ('C', 'x', '2'),
 ('B', 'y', '1'),
 ('A', 'z', '0')]

In [65]:
d1 = {
    'a':1,
    'b':2,
    
    'd':4,
    'c':5
}
d2={}
for k in sorted(d1.keys()):
    d2[k]=d1[k]
    
print(d2)

{'a': 1, 'b': 2, 'c': 5, 'd': 4}

In [68]:
d1 = {
    'a':1,
    'b':2,
    
    'd':4,
    'c':5
}
list(d1.items())
{k:v for k,v in sorted (d1.items(), key=lambda x:x[0]), reverse=True}

SyntaxError: invalid syntax (<ipython-input-68-f18b0bcf415e>, line 9)

In [ ]:
students=[]
flag = ''
while flag != 'no':
    d1 = {}
    d1['id']= input('ID ')
    d1['name']= input('Name ')
    d1['skills']= input('skills ').split(",")
    students.append(d1)
    flag = print("Enter more records yes | no")

students