In [ ]:
import this

In [ ]:
import this

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [2]:
print("hello")

hello

In [3]:
5 + 8 #operation
 #operators
    # +, -, / , *, %, **
    # =,-=,*=, %=
#5,8 oprands

13

In [4]:
#PEMDAS
5 + 7 - 8 * (2/2) + 200

204.0

In [5]:
a=2
b=2
print(a)
print(b)

print(id(a))
print(id(b))

2
2
140712359469488
140712359469488

In [6]:
a=7
type(a
    )

int

In [7]:
a=250.89
type(a)

float

In [8]:
type(a)

float

In [10]:
a = "1"
type(a)

str

int"1"

In [11]:
int("1") + int('2')

3

In [12]:
a= "Pakistan"
a*2

'PakistanPakistan'

In [13]:
name = [ "Ali", "Hamza", "Junaid", 200]
print(typ(names))

NameError: name 'typ' is not defined

In [14]:
name = [ "Ali", "Hamza", "Junaid", 200]
print(typ(name))

NameError: name 'typ' is not defined

In [15]:
name = [ "Ali", "Hamza", "Junaid", 200]
print(type(name))

<class 'list'>

In [16]:
name = ( "Ali", "Hamza", "Junaid", 200)
print(type(name))

<class 'tuple'>

In [17]:
name =  {"Ali", "Hamza", "Junaid", 200}
print(type(name))

<class 'set'>

In [18]:
name =  {"Ali", "Hamza", "Junaid", 200}
name = list(name)

print(name[0])
print(type(name))

200
<class 'list'>

In [24]:
name =  {"Ali", "Hamza", "Junaid", 200}
name = list(name)

print(name[2])
print(type(name))

Ali
<class 'list'>

In [27]:
data = {
    #key  : Value
    'name':" Arsalan Zia",
    'fname':"Zia Ul Haq",
    'name': 'asif khan',
    4 : 'Pakistan'
       }
data['name']

'asif khan'

In [28]:
a = "Arsalan Zia"
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [30]:
a.capitalize

In [32]:
a.capitalize("ali")

TypeError: capitalize() takes no arguments (1 given)

In [28]:
a = "Arsalan Zia"
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [34]:
a = "Arsalan Zia"
a=a.upper()
print(a)

ARSALAN ZIA

In [36]:
a="   arsalaN ZiA  "
a

'   arsalaN ZiA  '

In [37]:
a="   arsalaN ZiA  "
print(len(a))
print(a.lstrip())
print(len(a.lstrip()))
a

16
arsalaN ZiA
13

'   arsalaN ZiA  '

In [38]:
a="   arsalaN ZiA  "
print(len(a))
print(a.strip())
print(len(a.strip()))
a

16
arsalaN ZiA
11

'   arsalaN ZiA  '

In [39]:
b= a.split()
b

['arsalaN', 'ZiA']

In [41]:
"------>>>>>>> ".join(b)

'arsalaN------>>>>>>> ZiA'

In [42]:
q= "we are pakistani we love our country"
q

'we are pakistani we love our country'

In [44]:
#list[start:end:step]
#tuple[start:end:step]
#string[start:end:step]

print(q)
print(q[::])

we are pakistani we love our country
we are pakistani we love our country

In [46]:
#list[start:end:step]
#tuple[start:end:step]
#string[start:end:step]

print(q)
print(q[::])
print(q[::-1])
print(q[7:15:])

we are pakistani we love our country
we are pakistani we love our country
yrtnuoc ruo evol ew inatsikap era ew
pakistan

In [48]:
print(q)
print(q.index("pakistan"))

we are pakistani we love our country
7

In [54]:
q[q.index("pakistani"):15]
q

'we are pakistani we love our country'

In [56]:
w="51c654s65v1d6s1ds1v4f4v"
"".join([i for i in w if str.isnumeric(i)])

'5165465161144'

In [57]:
card="""
Bahria University Islambad
name : Arsalan Zia
fname: Zia ul Haq
program : PIAIC

"""
print(card)

Bahria University Islambad
name : Arsalan Zia
fname: Zia ul Haq
program : PIAIC

In [60]:
name = "Arsalan Zia"
fname = "Zia ul Haq"
program ="PIAIC"
s= 200

card="""
Bahria University Islambad
name : %s 
fname: %s
program : %s
score= %d
"""
print(card%(name, fname, program, s))

Bahria University Islambad
name : Arsalan Zia
fname: Zia ul Haq
program : PIAIC
score= 200

In [61]:
name = "Arsalan Zia"
fname = "Zia ul Haq"
program ="PIAIC"
s= 200

card=f"""
Bahria University Islambad
name : {name}
fname: {fname}
program : {program}
score= {s}
"""
print(card)

Bahria University Islambad
name : Arsalan Zia
fname: Zia ul Haq
program : PIAIC
score= 200

In [63]:
name = "Arsalan Zia"
fname = "Zia ul Haq"
program ="PIAIC"
s= 200

card="""
Bahria University Islambad
name : {}
fname: {}
program : {}
score= {}
"""
print(card.format(name, fname, program, s))

Bahria University Islambad
name : Arsalan Zia
fname: Zia ul Haq
program : PIAIC
score= 200

In [64]:
name = "Arsalan Zia"
fname = "Zia ul Haq"
program ="PIAIC"
s= 200

card="""
Bahria University Islambad
name : {}
fname: {}
program : {}
score= {}
"""
print(card.format(name, fname, program, s))

Bahria University Islambad
name : Arsalan Zia
fname: Zia ul Haq
program : PIAIC
score= 200

In [66]:
fname= "arsalan zia"
program="piaic"

"bahria university islamabad"

'bahria university islamabad'