#  Arithmetic Operators

+ #Adddition
- #Subtraction
* #Multiplication
/ #Division
// #floor division
% # modulus
** # Power

In [2]:
5+2

7

In [3]:
2+5.0

7.0

In [4]:
"A"+"B"

'AB'

In [5]:
["ALi", "Hamza"]+["Arsalan", "Kamran"] # applicable on lists

['ALi', 'Hamza', 'Arsalan', 'Kamran']

In [6]:
{"A","B"}+{"C","D"} # not applicable on sets

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [7]:
5-3

2

In [9]:
[4,5]-[2,4] #not applicable on list

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [11]:
{1,2,3,4}-{3,2} # Applicable on sets

{1, 4}

In [12]:
2*4

8

In [13]:
"A"*3 # repeated like text

'AAA'

In [15]:
["A"]*3 # repeated like element

['A', 'A', 'A']

In [16]:
("aA")*3 #

'aAaAaA'

In [17]:
11/3

3.6666666666666665

In [18]:
5+2+3+7+9

26

In [20]:
11//3 # floor division

3

In [24]:
23 // 4

5

        3
 3    _________
_____|   11    |______
          9
    ------------
          2  # Modulus

In [26]:
11%3

2

In [27]:
2**3 # POwer 2*2*2

8

# Compariosn (Relational) Operators

==  #
>
<
>=
<=
!=, <>

In [29]:
2 == 2 # left side value is compared with right side value

True

In [30]:
'A'== 'a'

False

In [32]:
5 > 3

True

In [33]:
5 >= 5

True

In [34]:
5 <= 5

True

In [35]:
"A" > "B"

False

A=65 -> Z=90
a=97 -> z=122
0=48 -> 9=57

In [36]:
ord("s")

115

In [39]:
chr(115)

's'

In [40]:
3<4

True

In [41]:
3<=4

True

In [42]:
'arsaln' != 'Arsalan'

True


# Assignment Operators

    =
    +=
    -=
    *=
    /=
    //=
    **=
    %=

In [43]:
a = 5
a = 6
a = 7
print(a)

7

In [45]:
a = 1 #1
a += 2 # 1+2 =3
a += 3 # 3+3 =6
a += 4 # 6+4= 10

print(a)

10

In [46]:
a =1
a *= 2
a *=2
print(a)

4

In [47]:
a=100
a/= 2
a/=2
print(a)

25.0

In [48]:
a=100
a//= 2
a//=2
print(a)

25

In [50]:
a = 21
a%= 5
print(a)

1

In [53]:
a = 1
a**= 5
a **=3
print(a)

1

In [54]:
a =[1,2,3]
a += [5,6]
print(a)

[1, 2, 3, 5, 6]

# Logical Operators

and &
or  |
not  <>, !=

In [57]:
True and True and True

True

In [58]:
True & True & True

True

In [59]:
True & True & False

False

In [ ]:
user = input("UserName:")
password = input("Password:")
user == "admin" & password =="123"
# "admin" == "admin" and "123"== "123"

In [ ]:
user = input("UserName:")
password = input("Password:")
user == "admin" & password =="123"
# "admin" == "admin" and "123"== "123"

In [ ]:
True or True or False or False or False

In [4]:
user = input("UserName:")
password = input("Password:")
(user == "admin") & (password =="123")
# "admin" == "admin" and "123"== "123"

UserName:admin
Password:123

True

In [5]:
user ="arsalan"
password ="123"

(user =="arsalan" or \
user == "ali" or \
user == "hamza") and password="123"

SyntaxError: can't assign to operator (<ipython-input-5-0ed26cd3f1c4>, line 4)

In [6]:
user = "Ali"
password= "123"

not (user=="Ali" and password=="123")

False

# Bitwise Operators

8,    7,  6,  5,  4,  3,  2,  1,  0
2,    2,  2,  2,  2,  2,  2,  2,  2 
==================================
256, 128, 64, 32, 16, 8,  4,  2,  1

Right Side

11001
1 = 1
0 = 0
0 = 0
1 = 8
1 = 16
25

In [10]:
1010101

1+4+16+64

85

In [11]:
28
11100

11100

& and
11100
11101
-------
11100

In [12]:
28 & 29

28

In [13]:
29 & 28

28

|   or
11100
11101
------
11101

In [14]:
28 | 29

29

^
11100
11101
-----
00001

In [15]:
28^29

1

In [16]:
~29

-30

# Membership Operators

in 
not in

In [31]:
names =["Ali", "Hamza", "Junaid", "Kashif"]
i=0
while i <= len[names]
  if names [i]=="Junaid"
        print(True)
        break
        i +=1

SyntaxError: invalid syntax (<ipython-input-31-bcd945b4cc36>, line 3)

In [23]:
user = input("word:")

"pakistan"in user

word:kadnsk kndasjnsa,m kjndaskjn kjndas pakistan

True

In [24]:
'Qasim' not in user

True

# Identity Operators

In [33]:
a ='5'
b = 5
c = a
print(a is b)
print(a is c)

False
True

In [34]:
print(id (a))
print(id (b))
print(id (c))

2787267104432
140708702691856
2787267104432

In [35]:
id (a)== id (c)

True

# Control Flow 
## if else elif


PYTHON
if logic:  #colon symbol is must
    value_if_True
else:
    value_if_False

In [36]:
if True:
    print("Pakistan")
else:
    print("zinda bad")

Pakistan

In [37]:
if False:
    print("Pakistan")
else:
    print("zinda bad")

zinda bad

In [42]:
user = input("user: ")
password=input("pass: ")
if (user=="Ali" or user=="hamza") and password=="123":
    print("valid user!")
else:
    print("invalid user!")

user: arsalan
pass: 123
invalid user!